@CHARSET "UTF-8";

.amslib_numeric_field span{
	display: inline-block;
}

.amslib_numeric_field span.config{
	display: none;
}

.amslib_numeric_field span.button{
	width: 15px;
	height: 15px;
	line-height: 14px;
	text-align: center;
	border: 1px solid #999999;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}

.amslib_numeric_field span.button:hover{
	background-color: #444444;
	color: #FFFFFF;
	cursor: pointer;
	border-color: #FFFFFF;
}

.amslib_numeric_field span.value{	
	margin: 0 5px;
	min-width: 2em;
	text-align: center;
}