@CHARSET "UTF-8";

.amslib_ui_fileupload,
.amslib_ui_fileupload_auto {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	white-space: nowrap;
	text-align: right;
}

.amslib_ui_fileupload input,
.amslib_ui_fileupload_auto input{
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: 2;
	padding: 10px 0 !important;
	margin: 0 !important;
}

.amslib_ui_fileupload span.filename_display,
.amslib_ui_fileupload_auto span.filename_display{
	margin-left: 5px;
	font-style: italic;
}