@CHARSET "UTF-8";

.amslib_maximum_size{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.amslib_maximum_size .amslib_maximum_size_element,
.amslib_maximum_size .amslib_maximum_size_landscape{
	width: 100%;
}

.amslib_maximum_size .amslib_maximum_size_portrait{
	height: 100%;
}