@CHARSET "UTF-8";

.flag{
  background-image:url(flags.png);
  display:block;
  font-size:0;
  height:11px;
  width:16px;
}

.flag_ad{	background-position:-16px 0;		}
.flag_ae{	background-position:-32px 0;		}
.flag_af{	background-position:-48px 0;		}
.flag_ag{	background-position:-64px 0;		}
.flag_ai{	background-position:-80px 0;		}
.flag_al{	background-position:-96px 0;		}
.flag_am{	background-position:-112px 0;		}
.flag_an{	background-position:-128px 0;		}
.flag_ao{	background-position:-144px 0;		}
.flag_aq{	background-position:-160px 0;		}
.flag_ar{	background-position:-176px 0;		}
.flag_as{	background-position:-192px 0;		}
.flag_at{	background-position:0 -11px;		}
.flag_au{	background-position:-16px -11px;	}
.flag_aw{	background-position:-32px -11px;	}
.flag_ax{	background-position:-48px -11px;	}
.flag_az{	background-position:-64px -11px;	}
.flag_ba{	background-position:-80px -11px;	}
.flag_bb{	background-position:-96px -11px;	}
.flag_bd{	background-position:-112px -11px;	}
.flag_be{	background-position:-128px -11px;	}
.flag_bf{	background-position:-144px -11px;	}
.flag_bg{	background-position:-160px -11px;	}
.flag_bh{	background-position:-176px -11px;	}
.flag_bi{	background-position:-192px -11px;	}
.flag_bj{	background-position:0 -22px;		}
.flag_bl{	background-position:-16px -22px;	}
.flag_bm{	background-position:-32px -22px;	}
.flag_bn{	background-position:-48px -22px;	}
.flag_bo{	background-position:-64px -22px;	}
.flag_br{	background-position:-80px -22px;	}
.flag_bs{	background-position:-96px -22px;	}
.flag_bt{	background-position:-112px -22px;	}
.flag_bv{	background-position:-128px -22px;	}
.flag_bw{	background-position:-144px -22px;	}
.flag_by{	background-position:-160px -22px;	}
.flag_bz{	background-position:-176px -22px;	}
.flag_ca{	background-position:-192px -22px;	}
.flag_cc{	background-position:0 -33px;		}
.flag_cd{	background-position:-16px -33px;	}
.flag_cf{	background-position:-32px -33px;	}
.flag_cg{	background-position:-48px -33px;	}
.flag_ch{	background-position:-64px -33px;	}
.flag_ci{	background-position:-80px -33px;	}
.flag_ck{	background-position:-96px -33px;	}
.flag_cl{	background-position:-112px -33px;	}
.flag_cm{	background-position:-128px -33px;	}
.flag_cn{	background-position:-144px -33px;	}
.flag_co{	background-position:-160px -33px;	}
.flag_cr{	background-position:-176px -33px;	}
.flag_cu{	background-position:-192px -33px;	}
.flag_cv{	background-position:0 -44px;		}
.flag_cx{	background-position:-16px -44px;	}
.flag_cy{	background-position:-32px -44px;	}
.flag_cz{	background-position:-48px -44px;	}
.flag_de{	background-position:-64px -44px;	}
.flag_dj{	background-position:-80px -44px;	}
.flag_dk{	background-position:-96px -44px;	}
.flag_dm{	background-position:-112px -44px;	}
.flag_do{	background-position:-128px -44px;	}
.flag_dz{	background-position:-144px -44px;	}
.flag_ec{	background-position:-160px -44px;	}
.flag_ee{	background-position:-176px -44px;	}
.flag_eg{	background-position:-192px -44px;	}
.flag_eh{	background-position:0 -55px;		}
.flag_er{	background-position:-16px -55px;	}
.flag_es_ES{background-position:-32px -55px;	}
.flag_et{	background-position:-48px -55px;	}
.flag_fi{	background-position:-64px -55px;	}
.flag_fj{	background-position:-80px -55px;	}
.flag_fk{	background-position:-96px -55px;	}
.flag_fm{	background-position:-112px -55px;	}
.flag_fo{	background-position:-128px -55px;	}
.flag_fr{	background-position:-144px -55px;	}
.flag_ga{	background-position:-160px -55px;	}
.flag_gb{	background-position:-176px -55px;	}
.flag_en_GB{background-position:-176px -55px;	}
.flag_gd{	background-position:-192px -55px;	}
.flag_ge{	background-position:0 -66px;		}
.flag_gf{	background-position:-16px -66px;	}
.flag_gg{	background-position:-32px -66px;	}
.flag_gh{	background-position:-48px -66px;	}
.flag_gi{	background-position:-64px -66px;	}
.flag_gl{	background-position:-80px -66px;	}
.flag_gm{	background-position:-96px -66px;	}
.flag_gn{	background-position:-112px -66px;	}
.flag_gp{	background-position:-128px -66px;	}
.flag_gq{	background-position:-144px -66px;	}
.flag_gr{	background-position:-160px -66px;	}
.flag_gs{	background-position:-176px -66px;	}
.flag_gt{	background-position:-192px -66px;	}
.flag_gu{	background-position:0 -77px;		}
.flag_gw{	background-position:-16px -77px;	}
.flag_gy{	background-position:-32px -77px;	}
.flag_hk{	background-position:-48px -77px;	}
.flag_hm{	background-position:-64px -77px;	}
.flag_hn{	background-position:-80px -77px;	}
.flag_hr{	background-position:-96px -77px;	}		
.flag_ht{	background-position:-112px -77px;	}
.flag_hu{	background-position:-128px -77px;	}
.flag_id{	background-position:-144px -77px;	}
.flag_ie{	background-position:-160px -77px;	}
.flag_il{	background-position:-176px -77px;	}
.flag_im{	background-position:-192px -77px;	}
.flag_in{	background-position:0 -88px;		}
.flag_io{	background-position:-16px -88px;	}
.flag_iq{	background-position:-32px -88px;	}
.flag_ir{	background-position:-48px -88px;	}
.flag_is{	background-position:-64px -88px;	}
.flag_it{	background-position:-80px -88px;	}
.flag_je{	background-position:-96px -88px;	}
.flag_jm{	background-position:-112px -88px;	}
.flag_jo{	background-position:-128px -88px;	}
.flag_jp{	background-position:-144px -88px;	}
.flag_ke{	background-position:-160px -88px;	}
.flag_kg{	background-position:-176px -88px;	}
.flag_kh{	background-position:-192px -88px;	}
.flag_ki{	background-position:0 -99px;		}
.flag_km{	background-position:-16px -99px;	}
.flag_kn{	background-position:-32px -99px;	}
.flag_kp{	background-position:-48px -99px;	}
.flag_kr{	background-position:-64px -99px;	}
.flag_kw{	background-position:-80px -99px;	}
.flag_ky{	background-position:-96px -99px;	}
.flag_kz{	background-position:-112px -99px;	}
.flag_la{	background-position:-128px -99px;	}
.flag_lb{	background-position:-144px -99px;	}
.flag_lc{	background-position:-160px -99px;	}
.flag_li{	background-position:-176px -99px;	}
.flag_lk{	background-position:-192px -99px;	}
.flag_lr{	background-position:0 -110px;		}
.flag_ls{	background-position:-16px -110px;	}
.flag_lt{	background-position:-32px -110px;	}
.flag_lu{	background-position:-48px -110px;	}
.flag_lv{	background-position:-64px -110px;	}
.flag_ly{	background-position:-80px -110px;	}
.flag_ma{	background-position:-96px -110px;	}
.flag_mc{	background-position:-112px -110px;	}
.flag_md{	background-position:-128px -110px;	}
.flag_me{	background-position:-144px -110px;	}
.flag_mf{	background-position:-160px -110px;	}
.flag_mg{	background-position:-176px -110px;	}
.flag_mh{	background-position:-192px -110px;	}
.flag_mk{	background-position:0 -121px;		}
.flag_ml{	background-position:-16px -121px;	}
.flag_mm{	background-position:-32px -121px;	}
.flag_mn{	background-position:-48px -121px;	}
.flag_mo{	background-position:-64px -121px;	}
.flag_mp{	background-position:-80px -121px;	}
.flag_mq{	background-position:-96px -121px;	}
.flag_mr{	background-position:-112px -121px;	}
.flag_ms{	background-position:-128px -121px;	}
.flag_mt{	background-position:-144px -121px;	}
.flag_mu{	background-position:-160px -121px;	}
.flag_mv{	background-position:-176px -121px;	}
.flag_mw{	background-position:-192px -121px;	}
.flag_mx{	background-position:0 -132px;		}
.flag_my{	background-position:-16px -132px;	}
.flag_mz{	background-position:-32px -132px;	}
.flag_na{	background-position:-48px -132px;	}
.flag_nc{	background-position:-64px -132px;	}
.flag_ne{	background-position:-80px -132px;	}
.flag_nf{	background-position:-96px -132px;	}
.flag_ng{	background-position:-112px -132px;	}
.flag_ni{	background-position:-128px -132px;	}
.flag_nl{	background-position:-144px -132px;	}
.flag_no{	background-position:-160px -132px;	}
.flag_np{	background-position:-176px -132px;	}
.flag_nr{	background-position:-192px -132px;	}
.flag_nu{	background-position:0 -143px;		}
.flag_nz{	background-position:-16px -143px;	}
.flag_om{	background-position:-32px -143px;	}
.flag_pa{	background-position:-48px -143px;	}
.flag_pe{	background-position:-64px -143px;	}
.flag_pf{	background-position:-80px -143px;	}
.flag_pg{	background-position:-96px -143px;	}
.flag_ph{	background-position:-112px -143px;	}
.flag_pk{	background-position:-128px -143px;	}
.flag_pl{	background-position:-144px -143px;	}
.flag_pm{	background-position:-160px -143px;	}
.flag_pn{	background-position:-176px -143px;	}
.flag_pr{	background-position:-192px -143px;	}
.flag_ps{	background-position:0 -154px;		}
.flag_pt{	background-position:-16px -154px;	}
.flag_pw{	background-position:-32px -154px;	}
.flag_py{	background-position:-48px -154px;	}
.flag_qa{	background-position:-64px -154px;	}
.flag_re{	background-position:-80px -154px;	}
.flag_ro{	background-position:-96px -154px;	}
.flag_rs{	background-position:-112px -154px;	}
.flag_ru{	background-position:-128px -154px;	}
.flag_rw{	background-position:-144px -154px;	}
.flag_sa{	background-position:-160px -154px;	}
.flag_sb{	background-position:-176px -154px;	}
.flag_sc{	background-position:-192px -154px;	}
.flag_sd{	background-position:0 -165px;		}
.flag_se{	background-position:-16px -165px;	}
.flag_sg{	background-position:-32px -165px;	}
.flag_sh{	background-position:-48px -165px;	}
.flag_si{	background-position:-64px -165px;	}
.flag_sj{	background-position:-80px -165px;	}
.flag_sk{	background-position:-96px -165px;	}	
.flag_sl{	background-position:-112px -165px;	}
.flag_sm{	background-position:-128px -165px;	}
.flag_sn{	background-position:-144px -165px;	}
.flag_so{	background-position:-160px -165px;	}
.flag_sr{	background-position:-176px -165px;	}
.flag_st{	background-position:-192px -165px;	}
.flag_sv{	background-position:0 -176px;		}
.flag_sy{	background-position:-16px -176px;	}
.flag_sz{	background-position:-32px -176px;	}
.flag_tc{	background-position:-48px -176px;	}
.flag_td{	background-position:-64px -176px;	}
.flag_tf{	background-position:-80px -176px;	}
.flag_tg{	background-position:-96px -176px;	}
.flag_th{	background-position:-112px -176px;	}
.flag_tj{	background-position:-128px -176px;	}
.flag_tk{	background-position:-144px -176px;	}
.flag_tl{	background-position:-160px -176px;	}
.flag_tm{	background-position:-176px -176px;	}
.flag_tn{	background-position:-192px -176px;	}
.flag_to{	background-position:0 -187px;		}
.flag_tr{	background-position:-16px -187px;	}
.flag_tt{	background-position:-32px -187px;	}
.flag_tv{	background-position:-48px -187px;	}
.flag_tw{	background-position:-64px -187px;	}
.flag_tz{	background-position:-80px -187px;	}
.flag_ua{	background-position:-96px -187px;	}
.flag_ug{	background-position:-112px -187px;	}
.flag_um{	background-position:-128px -187px;	}
.flag_us{	background-position:-144px -187px;	}
.flag_uy{	background-position:-160px -187px;	}
.flag_uz{	background-position:-176px -187px;	}
.flag_va{	background-position:-192px -187px;	}
.flag_vc{	background-position:0 -198px;		}
.flag_ve{	background-position:-16px -198px;	}
.flag_vg{	background-position:-32px -198px;	}
.flag_vi{	background-position:-48px -198px;	}
.flag_vn{	background-position:-64px -198px;	}
.flag_vu{	background-position:-80px -198px;	}
.flag_wf{	background-position:-96px -198px;	}
.flag_ws{	background-position:-112px -198px;	}
.flag_ye{	background-position:-128px -198px;	}
.flag_yt{	background-position:-144px -198px;	}
.flag_za{	background-position:-160px -198px;	}
.flag_zm{	background-position:-176px -198px;	}
.flag_zw{	background-position:-192px -198px;	}