@CHARSET "UTF-8";

body{
	background-color: inherit;
	color: inherit;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
}

.center p{
	word-break: break-all;
}